<% if (size == 'small_size')
    var pizza_size = 'Мала'
else
    pizza_size = 'Велика' %>
<%if (quantity % 10 == 1 && quantity % 10 != 11) {
    var pizza_last = "піца" }
    else if ((quantity % 10 == 2 || quantity % 10 == 3 || quantity % 10 == 4) && ((quantity/10)%10 != 1)) {
    pizza_last = "піци"
    } else {
    pizza_last = "піц"
}
%>
<div class="order-row">
    <div class="row-rp">
        <img class="img-order" src="<%=pizza.icon%>">
        <div class="order-title-rp"><%= pizza.title %> (<%= pizza_size %>)</div>
        <div class="order-icons">
            <img class="diagonal-image" src="assets/images/size-icon.svg">
            <span class="diagonal"><%= pizza[size].size %></span>
            <img class="gram-image" src="assets/images/weight.svg">
            <span class="gram"><%= pizza[size].weight %></span>
        </div>
        <div class="price-info">
            <span class="price"> <%= pizza[size].price * quantity %> грн</span>

            <span class="pizza-count"><%= quantity %> <%=pizza_last%></span>
        </div>
    </div>
</div>

