<%
function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function (key) {

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });

    return result;
}
%>

<div class="col-md-6 col-lg-4">
    <div class="thumbnail pizza-card">
        <% if (pizza.is_new) { %>
        <span class="label label-danger">НОВА</span>
        <% } else if (pizza.is_popular) { %>
        <span class="label label-success">ПОПУЛЯРНА</span>
        <% } %>
        <img src="<%= pizza.icon %>">
        <div class="caption">
            <div class="main-pizza-info">
                <span class="pizza-title"><%= pizza.title %></span>
                <div class="type"><%= pizza.type %></div>
                <p class="description"><%= getIngredientsArray(pizza).join(", ") %></p>
            </div>
            <% if (pizza.big_size && pizza.small_size) { %>
            <div class="small-size col-xs-6">
                <div class="small-images">
                    <div class="diagonal">
                        <img class="img-diagonal" src="assets/images/size-icon.svg">
                        <span class="pizza-diagonal"><%= pizza.small_size.size %></span>
                    </div>
                    <div class="weight">
                        <img class="img-weight" src="assets/images/weight.svg">
                        <span class="pizza-weight"><%= pizza.small_size.weight %></span>
                    </div>
                    <div class="price">
                        <%= pizza.small_size.price %>
                        <div class="usd">
                            грн.
                        </div>
                    </div>
                </div>
                <a href="#" class="btn btn-buy-small">Купити</a>
            </div>

            <div class="large-size col-xs-6">
                <div class="small-images">
                    <div class="diagonal">
                        <img class="img-diagonal" src="assets/images/size-icon.svg">
                        <span class="pizza-diagonal"><%= pizza.big_size.size %></span>
                    </div>
                    <div class="weight">
                        <img class="img-weight" src="assets/images/weight.svg">
                        <span class="pizza-weight"><%= pizza.big_size.weight %></span>
                    </div>
                    <div class="price">
                        <%= pizza.big_size.price %>
                        <div class="usd">
                            грн.
                        </div>
                    </div>
                </div>
                <a href="#" class="btn btn-buy-big">Купити</a>
            </div>
            <% } else if (pizza.big_size) {%>
            <div class="large-size col-xs-12">
                <div class="small-images">
                    <div class="diagonal">
                        <img class="img-diagonal" src="assets/images/size-icon.svg">
                        <span class="pizza-diagonal"><%= pizza.big_size.size %></span>
                    </div>
                    <div class="weight">
                        <img class="img-weight" src="assets/images/weight.svg">
                        <span class="pizza-weight"><%= pizza.big_size.weight %></span>
                    </div>
                    <div class="price">
                        <%= pizza.big_size.price %>
                        <div class="usd">
                            грн.
                        </div>
                    </div>
                </div>
                <a href="#" class="btn btn-buy-big">Купити</a>

            </div>
            <% } else { %>
            <div class="small-size col-xs-12">
                <div class="small-images">
                    <div class="diagonal">
                        <img class="img-diagonal" src="assets/images/size-icon.svg">
                        <span class="pizza-diagonal"><%= pizza.small_size.size %></span>
                    </div>
                    <div class="weight">
                        <img class="img-weight" src="assets/images/weight.svg">
                        <span class="pizza-weight"><%= pizza.small_size.weight %></span>
                    </div>
                    <div class="price">
                        <%= pizza.small_size.price %>
                        <div class="usd">
                            грн.
                        </div>
                    </div>
                </div>
                <a href="#" class="btn btn-buy-small">Купити</a>
            </div>
            <% } %>
            <p class="zero">.</p>
        </div>
    </div>
</div>
